.Contact-Title {
    white-space: nowrap;
    text-align: left;
    font-family: Lato;
    font-size: 40px;
    color: rgba(0,0,0,1);
}

.Contact-Header{
   
    white-space: nowrap;
    line-height: 40px;
    font-family: Lato;
    font-size: 29px;
    color: rgba(38,34,34,1);
}
.Contact-Text{
    font-family: Raleway;
    font-size: 25px;
    color: rgba(38,34,34,1);
}

.Contact-SubText{
    
    white-space: nowrap;
    font-family: Lato;
    font-size: 20px;
    color: rgba(0,0,0,1);
}

.Contact-AddressPoint{
    display: flex;
    padding-left: 8rem;
    padding-top: 5rem;
}

.Contact-Data{
    padding-left: 2rem;
}