:root {
    --white: #F3F7F7;
    --blue: #4189a6;
    --viridianGreen: #2b818c;
    --blueGrey:#405663;
    --black:#1c1f22;
}

.footer{
    background-color: var(--black);
    color:var(--white)
}

.Footer-Page{
    width: 7rem;
    white-space: nowrap;
    text-align: left;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: var(--white);
    text-transform: uppercase;
    border-bottom: 1px solid var(--blueGrey);
    padding-top: 0.5rem;
}

.Footer-Page:hover{
    border-bottom: 1px solid var(--viridianGreen);
    color: var(--viridianGreen);
    cursor: pointer;
}

.centerItems{
    text-align: -moz-center;
text-align: -webkit-center;
}

.Footer-Icons{
    color:var(--white);
}

.flex{
    display: flex;
}

.Footer-Text{
    color:var(--white);
    padding-left: 1rem;
    font-family: Lato;
    font-style: normal;
}

.Footer-SubText{
    color:var(--white);
    padding-left: 1rem;
    font-size: 0.85rem;
    font-family: Lato;
    font-style: normal;
}

.Footer-Contact{
    padding-top: 1rem;
    padding-left: 3rem;
}


.Footer-Contact:last-of-type{
    padding-bottom: 1rem;
}