[aria-labelledby='navbarScrollingDropdown']{
   width:7rem;
   min-width: 3rem !important;
   
}

.activeFlag{
    background-color: lawngreen !important;
}

.dropdown-toggle::after{
    color:white !important;
}

.dropdown-item a {
    color: #000000;
    text-decoration: none;
}

.dropdown-item a:hover {
    color: #000000;
    text-decoration: none;
}