:root {
    --white: #F3F7F7;
    --blue: #4189a6;
    --viridianGreen: #2b818c;
    --blueGrey:#405663;
    --black:#1c1f22;
}

html, body {
    margin: 0;
    height: 100%;
}
div{
    color:var(--black)
}

.whiteText{
    color: var(--white);
}

.blueText{
    color:var(--blue);
}
 .viridianGreenText{
     color:var(--viridianGreen);
 }

.blueGrayText{
    color:var(--blueGrey);
 }

.blackText{
    color:var(--black);
}
a.blackText{
    color:var(--black);
}


.whiteBG{
    background-color: var(--white);
}

.blueBG{
    background-color:var(--blue);
}
 .viridianGreenBG{
    background-color:var(--viridianGreen);
 }

.blueGrayBG{
    background-color:var(--blueGrey);
 }

.blackBG{
    background-color:var(--black);
}



.delimiterRight{
    border-right: 1px solid var(--black)
}

.hyperlink{
    cursor: pointer;
}

.linkBtn:hover{
    background-color: lightblue;
}


.menuOption{
   
    box-sizing: content-box;
    padding-right: 1rem;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    letter-spacing: 0.00px;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 20.00px;
    font-weight: 400;
    font-style: normal;
    font-family: Lato, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 96.00px;
    height: 24.00px;
}

.text1{
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    font-size: 50.00px;
    font-family: Montserrat, Arial;
    
    letter-spacing: 7.50px;
}

.text2{
    
    box-sizing: content-box;
    text-align: justify;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;

    background-color: rgba(255, 255, 255, 0);
    padding-top: 3rem;
    padding-right:1rem;
    letter-spacing: 1.00px;
    color: rgba(0, 0, 0, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 20.00px;
    font-weight: 500;
    font-style: normal;
    font-family: Montserrat, Arial;

     
   
}

.textCenter{
    text-align: center;
}

.bold{
    font-weight: bold;
}

.subscription{
    text-align: center;
    
}

.subscription .subscriptionType{
    
    box-sizing: content-box;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    letter-spacing: 0.00px;
    color: rgba(0, 0, 0, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 35.00px;
    font-weight: 700;
    font-style: normal;
    font-family: Lato, Arial;


    padding-top: 4rem;
  
}

.subscription .subscriptionInfo{
   
      box-sizing: content-box;
    
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    
    background-color: rgba(255, 255, 255, 0);
    letter-spacing: 0.50px;
    color: rgba(0, 0, 0, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 20.00px;
    font-weight: 300;
    font-style: italic;
    font-family: Lato, Arial;
}

.subscription .subscriptionInfo:nth-child(3){
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.subscription .padding{
    padding-bottom: 6rem;
}

.paperCard{
    width:80%;
    min-width: 16rem;
    border-radius: 7% !important;
    margin-top: 2rem;
}

.cardBtn{
    
    width: 8vw;
    max-width: 10rem;
    min-width: 5.5rem;
    height: 3rem;
    font-weight: bold !important;
    color:var(--black) !important;
}

.actionBtnContainer{
    display: flex;
    justify-content: center;
}

.actionBtn{
    padding: 0rem 0.5rem;
}

.buySubscriptionBtn{
    background-color: rgba(13, 137, 253, 1) !important;
    padding:0 1rem
}
.trySubscriptionBtn{
    background-color: var(--viridianGreen) !important;
}