:root {
    --white: #F3F7F7;
    --blue: #4189a6;
    --viridianGreen: #2b818c;
    --blueGrey:#405663;
    --black:#1c1f22;
}

html, body {
    margin: 0;
    height: 100%;
}
div{
    color:var(--black)
}

.whiteText{
    color: var(--white);
}

.blueText{
    color:var(--blue);
}
 .viridianGreenText{
     color:var(--viridianGreen);
 }

.blueGrayText{
    color:var(--blueGrey);
 }

.blackText{
    color:var(--black);
}
a.blackText{
    color:var(--black);
}


.whiteBG{
    background-color: var(--white);
}

.blueBG{
    background-color:var(--blue);
}
 .viridianGreenBG{
    background-color:var(--viridianGreen);
 }

.blueGrayBG{
    background-color:var(--blueGrey);
 }

.blackBG{
    background-color:var(--black);
}



.delimiterRight{
    border-right: 1px solid var(--black)
}

.hyperlink{
    cursor: pointer;
}

.linkBtn:hover{
    background-color: lightblue;
}


.menuOption{
   
    box-sizing: content-box;
    padding-right: 1rem;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    letter-spacing: 0.00px;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 20.00px;
    font-weight: 400;
    font-style: normal;
    font-family: Lato, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 96.00px;
    height: 24.00px;
}
